{% for board in boards %}
subninja $include_dir/boards/{{board.name}}/board.ninja
{% endfor %}

build all_boards: phony{% for board in boards %} {{board.name}}{% endfor %}


include $include_dir/format.ninja
