board = {{name}}
chip = {{chip}}
{% if extra_cflags %}

board_extra_cflags ={% for flag in extra_cflags %} {{flag}}{% endfor %}

{% endif %}

board_ldflags ={% for flag in ldflags %} {{flag}}{% endfor %}


include $include_dir/rules.ninja
include $include_dir/boards/$board/sources.ninja
include $include_dir/boards/$board/apps.ninja

build $board: phony{% for task in targets %} {{name}}_{{task}}{% endfor %}
