cpu = {{cpu}}
architecture = {{architecture}}
{% if extra_cflags %}
chip_extra_cflags ={% for flag in extra_cflags %} {{flag}}{% endfor %}
{% endif %}
{% if uf2_family %}
uf2conv_args = -f {{uf2_family}}
{% endif %}
include $include_dir/architectures/$architecture/architecture.ninja
