include_dir = {{ninja_out}}
src_dir = {{src_root}}
generated_dir = $src_dir/generated

# Flags common to all builds, regardless of variant.
common_cflags = -I${src_dir}{% for flag in common_cflags %} {{flag}}{% endfor %}


include $include_dir/all.ninja

{% include "compile_commands.ninja.j2" %}


build all: phony all_variants compdb

default_target = {{default_target}}
build single: phony $default_target compdb

default single
