{% for variant in variants %}
subninja $include_dir/variants/{{variant}}/variant.ninja
{% endfor %}

build all_variants: phony{% for variant in variants %} {{variant}}{% endfor %}


include $include_dir/format.ninja
