cflags = $common_cflags $variant_cflags

rule cc
  depfile = $out.d
  deps = gcc
  command = $cc -MD -MF $out.d $cflags -std=$c_standard -c $in -o $out

rule cxx
  depfile = $out.d
  deps = gcc
  command = $cxx -MD -MF $out.d $cflags -std=$cxx_standard -c $in -o $out
{% if common_ldflags %}

ldflags ={% for flag in common_ldflags %} {{flag}}{% endfor %}

{% endif %}

rule link
  command = $ld $cflags $ldflags -Wl,-Map=$out.map $in -o $out

rule ar
  command = ar rcs $out $in

build_dir = {{build_root}}/$variant
