{% for variant, data in variants.items() %}
{% if data["enabled"] %}
subninja $include_dir/variants/{{variant}}/variant.ninja
{% endif %}
{% endfor %}

build all_variants: phony{% for variant, data in variants.items() %}{% if data["enabled"] %} {{variant}}{% endif %}{% endfor %}


include $include_dir/format.ninja
