c_standard = {{c_standard}}
cxx_standard = {{cxx_standard}}
{% if extra_cflags %}
toolchain_extra_cflags ={% for flag in extra_cflags %} {{flag}}{% endfor %}

{% endif %}
toolchain_cflags ={% if specs %} -specs={{specs}}.specs{% endif %} $toolchain_extra_cflags

{% if prefix %}
toolchain_prefix = {{prefix}}
{% else %}
toolchain_prefix = {{root}}/${toolchain}-
{% endif %}
