variant = {{name}}

c_standard = {{c_standard}}
cxx_standard = {{cxx_standard}}

cc = {{cc}}
cxx = {{cxx}}
ld = {{ld}}

{% if extra_cflags %}
variant_cflags ={% for flag in extra_cflags %} {{flag}}{% endfor %}

{% endif %}

include $include_dir/rules.ninja
include $include_dir/sources.ninja
include $include_dir/apps.ninja

build $variant: phony{% for task in targets %} ${variant}_{{task}}{% endfor %}
